// Colors
$color-primary: #5897cc;
$color-secondary: #fff;
$color-primary-light: #a8c8e4;
$color-background: #f0f0f0;
$font-color: #626262;
$font-color-light: #ccc;
$color-error: #e36f32;
$color-notification: #d03c50;

// Font styles
$font-size-base: 10px;
$font-family-base: Verdana;
//
